
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>登陆成功</title>
    @if (TempData["msg"]!= null) { 

        <script>alert(@TempData["msg"])</script>
        
    }
</head>
<body>
    登陆账户为： @TempData["id"]  <br />
    密码：@TempData["pwd"]  <br />
    登陆结果：@TempData["result"]
</body>
</html>
